<h2>検索</h2>
<%= form_tag(root_path, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', id:"search_submit",:title=>nil %>
<% end %>

<ul>
  <%@elements.each do|element|%>
    <li>
      <p><%=link_to(element.title,element.url)%></p>
    </li>
  <%end%>
</ul>